<!-- components/sidebar/admin_sidebar/admin_sidebar.html -->
<aside class="sidebar">
    <div class="sidebar-header">
        <img src="/frontend/assets/images/Wolkite.jpg" alt="Logo" class="logo">
        <h1 class="brand">WolkiteUniversity</h1>
    </div>
    
    <p class="menu-label">MENU</p>
    
    <nav class="sidebar-nav">
        <ul>
            <li><a href="/frontend/pages/admin/admin.html" class="sidebar-link home"><img src="/frontend/assets/icons/home.png" alt=""> Home</a></li>
            <li><a href="/frontend/pages/admin/teachers.html" class="sidebar-link teachers"><img src="/frontend/assets/icons/teachers.png" alt=""> Teachers</a></li>
            <li><a href="/frontend/pages/admin/students.html" class="sidebar-link students"><img src="/frontend/assets/icons/students.png" alt=""> Students</a></li>
            <li><a href="/frontend/pages/admin/schedule.html" class="sidebar-link schedule"><img src="/frontend/assets/icons/schedule.png" alt=""> Schedule</a></li>
            <li><a href="/frontend/pages/admin/classes.html" class="sidebar-link class"><img src="/frontend/assets/icons/classes.png" alt=""> Class</a></li>
            <li><a href="/frontend/pages/admin/events.html" class="sidebar-link events"><img src="/frontend/assets/icons/events.png" alt=""> Events</a></li>
        </ul>
    </nav>
    <p class="menu-label">OTHER</p>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="/frontend/pages/admin/profile.html"><img src="/frontend/assets/icons/profile.png" alt=""> Profile</a></li>
        </ul>
    </nav>

</aside>