<!-- components/sidebar/admin_sidebar/admin_sidebar.html -->
<aside class="sidebar">
    <div class="sidebar-header">
        <img src="/frontend/assets/images/Wolkite.jpg" alt="Logo" class="logo">
        <h1 class="brand">WolkiteUniversity</h1>
    </div>
    
    <p class="menu-label">MENU</p>
    
    <nav class="sidebar-nav">
        <ul>
            <li><a href="#"><img src="/frontend/assets/icons/home.png" alt=""> Home</a></li>
            <li><a href="#"><img src="/frontend/assets/icons/teachers.png" alt=""> Teachers</a></li>
            <li><a href="#"><img src="/frontend/assets/icons/students.png" alt=""> Students</a></li>
            <li><a href="#"><img src="/frontend/assets/icons/subjects.png" alt=""> Subjects</a></li>
            <li><a href="#"><img src="/frontend/assets/icons/classes.png" alt=""> Classes</a></li>
            <li><a href="#"><img src="/frontend/assets/icons/exams.png" alt=""> Exams</a></li>
            <li><a href="#"><img src="/frontend/assets/icons/assignments.png" alt=""> Assignments</a></li>
            <li><a href="#"><img src="/frontend/assets/icons/results.png" alt=""> Results</a></li>
            <li><a href="#"><img src="/frontend/assets/icons/events.png" alt=""> Events</a></li>
            <li><a href="#"><img src="/frontend/assets/icons/admin.png" alt=""> Admins</a></li>
        </ul>
    </nav>
    <p class="menu-label">OTHER</p>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="#"><img src="/frontend/assets/icons/profile.png" alt=""> Profile</a></li>
        </ul>
    </nav>

</aside>