<!-- components/sidebar/admin_sidebar/admin_sidebar.html -->
<aside class="sidebar">
    <div class="sidebar-header">
        <img src="/frontend/assets/images/Wolkite.jpg" alt="Logo" class="logo">
        <h1 class="brand">WolkiteUniversity</h1>
    </div>
    
    <p class="menu-label">MENU</p>
    
    <nav class="sidebar-nav top">
        <ul>
            <li><a href="/frontend/pages/teacher/home.html" class="sidebar-link home"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="/frontend/pages/teacher/schedule.html" class="sidebar-link schedule"><i class="fa fa-layer-group"></i> Schedule</a></li>
            <li><a href="/frontend/pages/teacher/result.html" class="sidebar-link results"><i class="fa fa-file-alt"></i> Result</a></li>
        </ul>
    </nav>
    <p class="menu-label">OTHER</p>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
            <li><a href="#" class="text-danger"><i class="fa fa-calendar"></i> LogOut</a></li>
        </ul>
    </nav>
</aside>